.container {
  margin: 40px auto;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.5);
  background: #eee;
  max-width: 500px;
}

.title {
  background: #C08060;
  color: white;
  padding: 10px;
}
.title em {
  font-weight: bold;
}

.form {
  padding: 20px;
}

.label {
  width: 100%;
}
.input {
  margin: 5px 0 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.buttons {
  margin: 20px 0 0;
  display: flex;
  justify-content: flex-end;
}
.buttons > * {
  margin-left: 10px;
  padding: 8px 16px;
  background: #C08060;
  border: #804020 1px solid;
  border-radius: 6px;
  color: #fff;
}
