---
env:
  es6: true
  node: true
  browser: true
ecmaFeatures:
  modules: true
  classes: true
  spread: true
rules:
  quotes: [0, double]
  curly: 0
  no-underscore-dangle: 0
  camelcase: 0
  semi: 1
  no-use-before-define: 1
  eqeqeq: 1
  no-alert: 0
  no-unused-vars: 2

