.file-input {
  border: 1px dotted #666;
  padding: 10px;
}

.tree__node {
  margin-left: 20px;
}

.splitter {
  display: flex;
  flex-direction: row;
}

.splitter__panel {
  flex-grow: 1;
  flex-shrink: 1;
}

