.app {
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.toolbar {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px;

  background: #C08060;
  color: white;
  font-weight: bold;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 10px;
}
