.entry-view {
  height: 100%;
  overflow: auto;
}

.row {
  margin: 10px
}
.name {
  font-weight: bold;
}
.value {
  min-height: 1em;
  border: 1px dotted #666;
  padding: 0.5em;
  margin: 0.5em 0 0;
  white-space: pre-wrap;
}
