.tree {
  overflow: auto;
  max-height: 100%;
  border-right: 1px solid #999;
}

.node-row {
  cursor: pointer;
  padding: 5px;
}

.node-row:hover {
  background: #ddd;
}

.node-row:focus-within {
  background: #48f;
}

.node-row a {
  outline: none;
  text-decoration: none;
  color: #333;
}

.node-row a:focus {
  color: #fff;
}
